#roomBtn{
    width:120px;
    height:120px;
    border: none;
    font-size: xx-large;
    font-weight: bolder;
    margin: 10px;
    color: white;
    margin-top: 30px;

}

#roomBtnDiv{
    display: inline-block;
}